@model IEnumerable<FinalProject.Models.Yeuthich>
@using System.Security.Claims
@using System.Globalization;
<div class="position-04">
	<div class="container">
		<div class="row">
			<div class="blog-home">
				<div class="title-h">
					<section class="mt-5 review" id="review">
						<h1 class="heading">
							<span>F</span>
							<span>A</span>
							<span>V</span>
							<span>O</span>
							<span>R</span>
							<span>I</span>
							<span>T</span>
							<span>E</span>
							<span>S</span>
						</h1>
					</section>
				</div>
				<div class="row serrow">
					@foreach (var item in Model)
					{
						@*Để lấy idsp cho hàm ajax*@
						<div class="item item-1 col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-5">
							<div class="box-1">
								<a href="#"><img src="@item.ImagePath" alt="" /></a>
							</div>

							<div class="box-2">
						<span class="d-none idsp">@item.Idsp</span>

								@if (@item.Idsp.Contains("DT"))
								{

									<a asp-action="Details" asp-controller="Phones" asp-route-id="@item.Idsp" class="title">@item.Ten</a>
								}
								else
								{
									<a asp-action="Details" asp-controller="Laptops" asp-route-id="@item.Idsp" class="title">@item.Ten</a>

								}
								<div class="money">
									<span class="std">@item.Gia.ToString("C", CultureInfo.CreateSpecificCulture("vi-VN"))</span>
									@{
										var tientang = @item.Gia + Convert.ToDecimal(2000000);
									}
									<span class="std" style="font-size: 15px;text-decoration-line: line-through; font-weight: 100;">@tientang.ToString("C", CultureInfo.CreateSpecificCulture("vi-VN"))</span>
								</div>

								<div class="stars">
									<i class="bi bi-star-fill" style="color: orange;"></i>
									<i class="bi bi-star-fill" style="color: orange;"></i>
									<i class="bi bi-star-fill" style="color: orange;"></i>
									<i class="bi bi-star-fill" style="color: orange;"></i>
									<i class="bi bi-star-fill"></i>
								</div>
							</div>
							<button href="#" onclick="xoakhoiyeuthich(this)" class="btn btn-danger mt-3 mb-2 truongdeptrai" style="width: 100%; font-weight: bold;"><i class="bi bi-trash3-fill"></i> XÓA</button>
						</div>

					}
					@*<div class="item item-4 col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-5">
					<div class="box-1">
					<a href="#"><img src="https://cdn.tgdd.vn/Products/Images/42/260546/oppo-reno8-pro-thumb-xanh-1-600x600.jpg" alt="" /></a>
					</div>
					<div class="box-2" >
					<span class="title">OPPO Reno8 Series</span>
					<div class="money">
					<span class="std">17.990.000₫</span>
					<span class="std" style="font-size: 15px;text-decoration-line: line-through; font-weight: 100;">23.990.000₫</span>
					</div>

					<div class="stars">
					<i class="bi bi-star-fill" style="color: orange;"></i>
					<i class="bi bi-star-fill" style="color: orange;"></i>
					<i class="bi bi-star-fill" style="color: orange;"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					</div>
					</div>
					<button type="button" class="btn btn-danger mt-3 mb-2 truongdeptrai" style="width: 100%; font-weight: bold;"><i class="bi bi-trash3-fill"></i> XÓA</button>

					</div>
					<div class="item item-4 col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-5">
					<div class="box-1">
					<a href="#"><img src="https://cdn.tgdd.vn/Products/Images/42/226935/samsung-galaxy-z-fold-3-silver-1-600x600.jpg" alt="" /></a>
					</div>
					<div class="box-2" >
					<span class="title">Samsung Galaxy Z Fold3 5G</span>
					<div class="money">
					<span class="std">33.990.000₫</span>
					<span class="std" style="font-size: 15px;text-decoration-line: line-through; font-weight: 100;">34.990.000₫</span>
					</div>

					<div class="stars">
					<i class="bi bi-star-fill" style="color: orange;"></i>
					<i class="bi bi-star-fill" style="color: orange;"></i>
					<i class="bi bi-star-fill" style="color: orange;"></i>
					<i class="bi bi-star-fill"></i>
					<i class="bi bi-star-fill"></i>
					</div>
					</div>
					<button type="button" class="btn btn-danger mt-3 mb-2 truongdeptrai" style="width: 100%; font-weight: bold;"><i class="bi bi-trash3-fill"></i> XÓA</button>

					</div>*@
				</div>
			</div>

		</div>

	</div>


	<section style="margin-top: 100px;">
	</section>
	<script>
function xoakhoiyeuthich(e) {
    var box = e.parentNode;
    box.style.display = "none";
    var spanidsp = box.getElementsByClassName("idsp");
    var idsp = spanidsp[0].innerHTML;
    $.ajax({
        type: "POST",
        url: "@Url.Action("XoaKhoiYeuThich","Yeuthiches")",
        data: { "email": "@User.FindFirstValue(ClaimTypes.Email)" , "idsp": idsp },
        success: function(){
           var t = $('#fvcount').text();
			var num = parseInt(t);
			num = num - 1;
			$('#fvcount').text(num);
		}
    });
}
	</script>