@model IEnumerable<FinalProject.Models.Laptop>
@using System.Globalization;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
		@foreach (var item in Model)
		{

			<a asp-action="Details" asp-route-id="@item.Id" class="col-md-2 items text-center">
				<div>
					<h6 class="hang" style="display:none">@item.Hang</h6>
					<h6 class="nhucau" style="display:none">@item.NhuCau</h6>
					<h5><b>@item.Ten</b></h5>

					<img src=@item.ImagePath>
					<div>
						<i class="bi bi-cpu minhhoa"></i><h6 style="display:inline"> @item.Chip</h6>
					</div>
					<div>
						<i class="bi bi-phone minhhoa"></i><h6 style="display:inline">@item.ManHinh</h6>
					</div>
					<div>
						<h6><b>@item.Gia.ToString("C",CultureInfo.CreateSpecificCulture("vi-VN"))</b></h6>
					</div>


				</div>

			</a>

		}
	</div>
</div>  
@* <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
