@model FinalProject.Models.Phone

@{
    TempData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Os)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Os)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraSau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraSau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CameraTruoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraTruoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhuCau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhuCau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThietKe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThietKe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Quay lại mua hàng</a>
</div>
