@model IEnumerable<FinalProject.Models.Phone>
@using System.Globalization;
@{
	TempData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
	<div class="row">
		
		<div class="col my-3 md-8">
			<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Hãng
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Tất cả</a></li>
				<li><a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="Samsung" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/samsung.png"> Samsung</a></li>
				<li><a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="Apple" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/apple.png"> Apple</a></li>
				<li><a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="OPPO" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/oppo.png"> OPPO</a></li>
				<li><a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="Xiaomi" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/xiaomi.png"> Xiaomi</a></li>
				<li><a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="Vivo" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/vivo.png"> Vivo</a></li>
				<li><a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="Realme" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/realme.png"> Realme</a></li>

			</ul>
		
			<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Nhu cầu
			</button>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]"  asp-route-Hang="@TempData["Hang"]"
					   asp-route-Nhucau="" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Tất cả</a>
				</li>
				<li>
					<a class="dropdown-item" asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]"  asp-route-Hang="@TempData["Hang"]"
					   asp-route-Nhucau="Cao cấp, sang trọng" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/luxury.png"> Cao cấp, sang trọng</a>
				</li>
				<li>
					<a class="dropdown-item" asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]"  asp-route-Hang="@TempData["Hang"]"
					   asp-route-Nhucau="Chụp ảnh, quay phim" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/camera.png"> Chụp ảnh, quay phim</a>
				</li>
				<li>
					<a class="dropdown-item" asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]"  asp-route-Hang="@TempData["Hang"]"
					   asp-route-Nhucau="Chơi game, cấu hình mạnh" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/gaming.png"> Chơi game, cấu hình mạnh</a>
				</li>

			</ul>
			
			<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Giá
			</button>

			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" 
					asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="" asp-route-Giamax="" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Tất cả</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" 
					asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="0" asp-route-Giamax="2000000" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Dưới 2 triệu</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]"
					asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="2000000" asp-route-Giamax="4000000" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Từ 2 đến 4 triệu</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="4000000" asp-route-Giamax="7000000" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Từ 4 đến 7 triệu</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="7000000" asp-route-Giamax="13000000" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Từ 7 đến 13 triệu</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="13000000" asp-route-Giamax="20000000" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Từ 13 đến 20 triệu</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="20000000" asp-route-Giamax="200000000" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Trên 20 triệu</a>
				</li>
				<div class="dropdown-divider"></div>
				<form asp-action="Index" asp-route-searchString="@TempData["CurrentFilter"]" asp-controller="Phones" asp-route-Hang="@TempData["Hang"]"
					  asp-route-Nhucau="@TempData["NhuCau"]">
					<div class="my-2">
						<i class="bi bi-cash-coin minhhoa"></i><h5 style="display:inline"> Hoặc chọn mức giá phù hợp với bạn</h5>
					</div>
					<div class="price-input">
						<div class="field">
							<span>Từ</span>
							<input type="number" class="input-min" value="500000" />
						</div>
						<div class="seperator">
							-
						</div>
						<div class="field">
							<span>Đến</span>
							<input type="number" class="input-max" value="50000000" />
						</div>
					</div>
					<div class="slider">
						<div class="progress"></div>
					</div>
					<div class="range-input">
						<input type="range" name="Giamin" class="range-min" min="500000" max="50000000" value="500000" step="500000" />
						<input type="range" name="Giamax" class="range-max" min="500000" max="50000000" value="50000000" step="500000" />
					</div>
					<div class="text-center">

						<button class="btn btn-light text-center" type="submit">Áp dụng</button>
					</div>
				</form>
				</ul>
				
				<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Loại điện thoại
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]">Tất cả</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="Android" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/android.png"> Android</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="iOS" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/ios.png"> iOS</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="PT" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><img class="hinhfilter" src="/images/dtpt.png"> Điện thoại phồ thông</a>
					</li>
				</ul>
				
				<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					RAM
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="" asp-route-Rom="@TempData["ROM"]">Tất cả</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="2" asp-route-Rom="@TempData["ROM"]">2 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="3" asp-route-Rom="@TempData["ROM"]">3 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="4" asp-route-Rom="@TempData["ROM"]">4 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="6" asp-route-Rom="@TempData["ROM"]">6 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="8" asp-route-Rom="@TempData["ROM"]">8 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="12" asp-route-Rom="@TempData["ROM"]">12 GB</a>
					</li>
				</ul>
				
				<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Dung lượng lưu trữ
				</button>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="">Tất cả</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="32">32 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="64">64 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="128">128 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="256">256 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="512">512 GB</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="1024">1 TB</a>
					</li>
				</ul>
		</div>

		<div class="text-end my-3 col-md-4">
			<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Sắp xếp
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]" asp-route-sortOrder="@TempData["PriceDESC"]">Giá cao đến thấp</a></li>
				<li><a class="dropdown-item" asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]" asp-route-sortOrder="@TempData["PriceASC"]">Giá thấp đến cao</a></li>

			</ul>
		</div>
	</div>
	<div style="display:flex">
		<div class="mr-3">
			@*Nếu TempData có chứa hãng - nếu người dùng đã chọn hãng thì hiện div*@
			@if (@TempData["Hang"] != null)
			{
				<div class="currentfilter border rounded px-3">
					@TempData["Hang"] <a style="color:red" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><i class="bi bi-x-circle"></i></a>
				</div>
			}
		</div>
		<div class="mr-3">
			@if (@TempData["NhuCau"] != null)
			{
				<div class="currentfilter border rounded px-3">
					@TempData["NhuCau"] <a style="color:red" asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]"  asp-route-Hang="@TempData["Hang"]"
					   asp-route-Nhucau="" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><i class="bi bi-x-circle"></i></a>
				</div>
			}
		</div>
		<div class="mr-3">
			@if (@TempData["GiaMin"] != null && @TempData["GiaMax"] != null)
			{
			
				<div class="currentfilter border rounded px-3">
				 Từ @TempData["GiaMin"]đ Đến @TempData["GiaMax"]đ <a style="color:red"  asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="" asp-route-Giamax="" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><i class="bi bi-x-circle"></i></a>
				</div>
			}
		</div>
		<div class="mr-3">
			@if (@TempData["Loai"] != null)
			{
				<div class="currentfilter border rounded px-3">
					@TempData["Loai"] <a style="color:red"  asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="" asp-route-Ram="@TempData["RAM"]" asp-route-Rom="@TempData["ROM"]"><i class="bi bi-x-circle"></i></a>
				</div>
			}
		</div>
		<div class="mr-3">
			@if (@TempData["RAM"] != null)
			{
				
				<div class="currentfilter border rounded px-3">
					@TempData["RAM"] GB <a style="color:red"  asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="" asp-route-Rom="@TempData["ROM"]"><i class="bi bi-x-circle"></i></a>
				</div>
			}
		</div>
		<div class="mr-3">
			@if (@TempData["ROM"] != null)
			{
				<div class="currentfilter border rounded px-3">
					@TempData["ROM"] GB<a style="color:red"  asp-action="Index" asp-controller="Phones" asp-route-searchString="@TempData["CurrentFilter"]" asp-route-Hang="@TempData["Hang"]" asp-route-Nhucau="@TempData["NhuCau"]" asp-route-Giamin="@TempData["GiaMin"]" asp-route-Giamax="@TempData["GiaMax"]" asp-route-Loai="@TempData["Loai"]" asp-route-Ram="@TempData["RAM"]" asp-route-Rom=""><i class="bi bi-x-circle"></i></a>
				</div>
			}
		</div>
	</div>
	<div class="row">
		@foreach (var item in Model)
		{

			<a asp-action="Details" asp-route-id="@item.Id" class="col-md-2 items text-center">
				<div>
					<h6 class="hang" style="display:none">@item.Hang</h6>
					<h6 class="nhucau" style="display:none">@item.NhuCau</h6>
					<h5><b>@item.Ten</b></h5>

					<img src=@item.ImagePath height="150px">
					<div>
						<i class="bi bi-cpu minhhoa"></i><h6 style="display:inline"> @item.Chip</h6>
					</div>
					<div>
						<i class="bi bi-phone minhhoa"></i><h6 style="display:inline">@item.ManHinh</h6>
					</div>
					<div>
						<h6><b>@item.Gia.ToString("C",CultureInfo.CreateSpecificCulture("vi-VN"))</b></h6>
					</div>


				</div>

			</a>

		}
	</div>
</div>

<script>

	@*Hàm đổi giá trị khi trượt thanh tầm giá*@
	const rangeinput = document.querySelectorAll(".range-input input");
	priceinput = document.querySelectorAll(".price-input input")
	progress = document.querySelector(".slider .progress");
	let pricegap = 500000;

	priceinput.forEach(input => {
		input.addEventListener("input", e => {
			let minval = parseInt(priceinput[0].value),
				maxval = parseInt(priceinput[1].value);
			if ((maxval - minval >= pricegap) && maxval <= 50000000 && minval >= 500000) {
				if (e.target.className == "input-min") {
					rangeinput[0].value = minval;
					progress.style.left = (minval / rangeinput[0].max) * 100 + "%";
				}
				else {
					rangeinput[1].value = maxval;
					progress.style.right = 100 - (maxval / rangeinput[1].max) * 100 + "%";

				}
			}

		})
	})

	rangeinput.forEach(input => {
		input.addEventListener("input", e => {
			let minval = parseInt(rangeinput[0].value),
				maxval = parseInt(rangeinput[1].value);
			if (maxval - minval < pricegap) {
				if (e.target.className == "range-min") {
					rangeinput[0].value = maxval - pricegap;
				}
				else {
					rangeinput[1].value = minval + pricegap;
				}
			}
			else {
				priceinput[0].value = minval;
				priceinput[1].value = maxval;
				progress.style.left = (minval / rangeinput[0].max) * 100 + "%";
				progress.style.right = 100 - (maxval / rangeinput[1].max) * 100 + "%";
			}
		})
	})

</script>
@*    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
*@