@model IEnumerable<FinalProject.Models.Phone>
@using System.Globalization;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
  <div class="text-end my-3">
  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Sắp xếp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["PriceDESC"]">Giá cao đến thấp</a></li>
    <li><a class="dropdown-item" asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-sortOrder="@ViewData["PriceASC"]">Giá thấp đến cao</a></li>

  </ul>
  </div>
    <div class="row">
        @foreach(var item in Model){
           
             <a asp-action="Details" asp-route-id="@item.Id" class="col-md-2 items text-center">   
              <div>

                <h5><b>@item.Ten</b></h5>

						<img src=@item.ImagePath height="150px">
              <div>
                    <i class="bi bi-cpu minhhoa"></i><h6 style="display:inline"> @item.Chip</h6>
              </div>
              <div>
                <i class="bi bi-phone minhhoa"></i><h6 style="display:inline">@item.ManHinh</h6>
                </div>
                <div>
               <h6><b>@item.Gia.ToString("C",CultureInfo.CreateSpecificCulture("vi-VN"))</b></h6>
               </div>

     
                 </div>

     </a>
   
        }
    </div>
</div>


            @*    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
*@