@model FinalProject.Models.Taikhoan
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dangkyform box d-flex align-items-center justify-content-center container-fluid py-1">
	<div class="row w-100">
		<div class="col-md-6 p-3">
			<form asp-action="EditTaiKhoan" asp-controller="Taikhoans" asp>
				@*Hiển thị lỗi bằng model*@
				<div asp-validation-summary="ModelOnly" class="text-danger h4"></div>
				@*Hiển thị lỗi bằng jquery*@
				<h2 class="fw-bold mb-3"><i class="bi bi-person-gear"></i> Cập nhật thông tin tài khoản</h2>
				<span id="errordiv" class="text-danger h4"></span>
					<div class="form-group mb-3">
					<label asp-for="Email" class="control-label h4"><i class="bi bi-envelope"></i> E-Mail</label>
					<input type="email" name="Email" readonly id="email" class="form-control fc h4" value="@Model.Email"/>
				</div>
				<div class="form-group mb-3">
					<label  asp-for="HoTen" class="control-label h4"><i class="bi bi-person-vcard"></i> Họ tên</label>
					<input name="hoten" class="form-control fc h4" value="@Model.HoTen"/>
					<span asp-validation-for="HoTen" class="text-danger"></span>
				</div>	
				<div class="form-group mb-3">
					<label  asp-for="DiaChi" class="control-label h4"><i class="bi bi-house"></i> Địa chỉ</label>
					<input name="diachi" class="form-control fc h4" value="@Model.DiaChi" />
					<span asp-validation-for="DiaChi" class="text-danger"></span>
				</div>
				<div class="form-group mb-3">
					<label asp-for="Sdt" class="control-label h4"><i class="bi bi-telephone"></i> Số điện thoại</label>
					<input name="sdt" class="form-control fc h4" value="@Model.Sdt" />
					<span asp-validation-for="Sdt" class="text-danger"></span>
				</div>
				<div class="row">
					<div class="col-md-4">
						<button  id="btncreate" class="btn fw-bold mb-3 w-100 xanhneonbtn" type="submit">Cập nhật</button>
					</div>
					<div class="col-md-4">
						<a class="btn fw-bold mb-3 w-100 nauvangbtn">Quay về</a>
					</div>
					<div class="col-md-4">
						<a asp-action="DoiMatKhau" asp-controller="Taikhoans" asp-route-email="@Model.Email" class="btn fw-bold mb-3 w-100 btn-warning text-dark">Đổi mật khẩu</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6 p-3 d-flex align-items-center">
			<img class="img-fluid" src="/images/update.png" style="object-fit:cover">
		</div>
	</div>
</div>
<script>
//	//Hàm hiện/ ẩn mật khẩu
//	$("#showorhidepw").click(function() {
//		var pw = $("#password")[0];
//		var showpw = $("#showpw")[0];
//		var hidepw = $("#hidepw")[0];
//		if (pw.type == "password") {
//			pw.type = "text";
//			showpw.style.display = "none";
//			hidepw.style.display = "block";
//		}
//		else {
//			pw.type = "password";
//			showpw.style.display = "block";
//			hidepw.style.display = "none";
//		}
//	});
//	$("#cfshoworhidepw").click(function() {
//		var pw = $("#cfpassword")[0];
//		var showpw = $("#cfshowpw")[0];
//		var hidepw = $("#cfhidepw")[0];
//		if (pw.type == "password") {
//			pw.type = "text";
//			showpw.style.display = "none";
//			hidepw.style.display = "block";
//		}
//		else {
//			pw.type = "password";
//			showpw.style.display = "block";
//			hidepw.style.display = "none";
//		}
//	});
//	//Kiểm tra email hợp lệ
//	//function IsEmail(email) {
//	//	var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
//	//	if (!regex.test(email)) {
//	//		return false;
//	//	} else {
//	//		return true;
//	//	}
//	//}
//	//Kiểm tra trùng tài khoản
//	

//	//Kiểm tra các ràng buộc?
//	$("form").submit(function(e) {
//		var pw = $("#password").val();
//		var cfpw = $("#cfpassword").val();
//		var email = $("#email").val();
//		var chb = $("#agreechb");
//		var ttk = $("#ttk").val();
//		var error = $("#errordiv");
//		if (pw.localeCompare(cfpw) != 0) {
//			error.text("Xác nhận mật khẩu không khớp!");
//			e.preventDefault();
//		}
//		if (!chb.is(":checked")) {
//			error.text("Vui lòng đồng ý điều khoản sử dụng để đăng ký!");
//			e.preventDefault();
//		}
//		//if (!IsEmail(email)) {
//		//	error.text("Vui lòng nhập email hợp lệ!");
//		//	e.preventDefault();
//		//}
//		if (!checktrung(ttk)) {
//			error.text("Email đã tồn tại!");
//			e.preventDefault();
//		}
//	});
</script>

