@model IEnumerable<FinalProject.Models.Taikhoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="nav-cont">
	<nav class="navbar" id="nav-cont1">
		<div class="container-fluid" id="nav-cont2">
			<ul class="navbar-nav" id="nav-cont3">
				<li class="nav-item" id="content1">
					<a class="nav-link" asp-action="Index" asp-controller="Giohangs" asp-route-all="yes" value="">
						<i class="bi bi-list-ul"></i>
						Danh sách đơn hàng
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-action="Index" asp-controller="Vouchers">
						<i class="bi bi-card-list"></i>

						Voucher
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-action="Index" asp-controller="Taikhoans">
						<i class="bi bi-person-vcard"></i>
						Quản lý tài khoản
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-action="Chitiet" asp-controller="Phones">
						<i class="bi bi-phone-fill"></i>
						Quản lý điện thoại
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-action="Chitiet" asp-controller="Laptops">
						<i class="bi bi-laptop-fill"></i>

						Quản lý laptop
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="DangXuat" asp-controller="Taikhoans" class="btn btn-danger">
						<i class="bi bi-key-fill"></i>

						Đăng xuất
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div class="container box p-3 h4 my-3" style="overflow-x:auto;">
	<div class="mb-3">
		<h2 class="fw-bold d-inline"><i class="bi bi-person-circle"></i> Tài khoản</h2>
	</div>

	
		<div class="carttable">
			<table class="table table-responsive text-center m-0 h4">
				<thead style="background-color:#ff9800">
					<tr>
						<th>Email</th>
						<th>Họ tên</th>
						<th>Mật khẩu</th>
						<th>Địa chỉ</th>
						<th>SDT</th>
			<th>Vai trò</th>
		
					</tr>
				</thead>
				<tbody class="fw-bold align-middle">
					@foreach (var item in Model)
					{
						<tr>
							
						
							<td><a class="linktodetails" asp-action="Index" asp-controller="Giohangs" asp-route-email="@item.Email">@item.Email</a></td>
							
							<td>@item.HoTen</td>

							<td>@item.MatKhau</td>
								<td>@item.DiaChi</td>
							<td>@item.Sdt</td>
								<td>@item.VaiTro</td>
						
						</tr>
					}
				</tbody>
			</table>


		</div>
		</div>


	
	